header, body, footer {
    width: 100%;
}

.hero h1 {
    margin-top: -11px;
}

body h1 {
    margin-top: 30px;
}

.top-p, .bottom-p {
    line-height: 26px;
    margin: 25px auto 30px auto;
    text-align: center;
    font-size: 22px;
    width: 70ch;
    max-width: 80%;
}


